<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, class: 'form-center') do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログインしたままにする</span>
      <% end %>

      <%= f.submit "ログイン", class: "form-btn" %>
    <% end %>

    <p>アカウントをお持ちでない場合は<%= link_to "登録", signup_path %></p>
  </div>
</div>